 <section id="login">
    <header>
        <h1>iRide - Easy Ride!</h1>
        <p>Welcome to the Carpooling App!</p>
    </header>

    <div class="clearfix"></div>
    <section id="main" class="p-relative" role="main">
            
    <div class="clearfix"></div>                
    <!-- Login -->
    <form class="box tile animated active " id="box-login" ng-submit="login(username, password)">
        <h2 class="m-t-0 m-b-15">Login</h2>
        <input type="text" ng-model="username" class="ng-pristine ng-valid  form-control login-control m-b-10" required placeholder="Username or Email Address">
        <input type="password" ng-model="password" placeholder="Password" class="login-control ng-pristine ng-valid form-control" required placeholder="Password">
        <div class="checkbox m-b-20">
            <label>
                <input type="checkbox" ng-model="isRemembered">
                Remember Me
            </label>
        </div>
        <button class="btn btn-sm m-r-5" onclick="">Sign In</button>
        
        <small>
            <a class="box-switcher" data-switch="box-register" href="">Don't have an Account?</a> or
            <a class="box-switcher" data-switch="box-reset" href="">Forgot Password?</a>
        </small>
    </form>
    
    <!-- Register -->
    <form class="box animated tile" id="box-register">
        <h2 class="m-t-0 m-b-15">Register</h2>
        <input type="text" class="login-control m-b-10" placeholder="Full Name">
        <input type="text" class="login-control m-b-10" placeholder="Username">
        <input type="email" class="login-control m-b-10" placeholder="Email Address">    
        <input type="password" class="login-control m-b-10" placeholder="Password">
        <input type="password" class="login-control m-b-20" placeholder="Confirm Password">

        <button class="btn btn-sm m-r-5 box-switcher" data-switch="box-login">Register</button>

        <small><a class="box-switcher" data-switch="box-login" href="">Already have an Account?</a></small>
    </form>
    
    <!-- Forgot Password -->
    <form class="box animated tile" id="box-reset">
        <h2 class="m-t-0 m-b-15">Reset Password</h2>
        <p>Please provide your email address to send the new password.</p>
        <input type="email" class="login-control m-b-20" placeholder="Email Address">    

        <button class="btn btn-sm m-r-5 box-switcher" data-switch="box-login">Reset Password</button>

        <small><a class="box-switcher" data-switch="box-login" href="">Already have an Account?</a></small>
    </form>
</section>        