<!DOCTYPE html>
<html data-ng-app="mainApp" id="ng-app">
<head>
 	<!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<title>CSR - iTicket!</title>
	
	<!-- CSS -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.css")">
	
	<!-- New Design/Template -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/pages/dashboard.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/style.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/pages/signin.css")">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    	<script src="@routes.Assets.at("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")" type="text/javascript"></script>
    	<script src="@routes.Assets.at("https://oss.maxcdn.com/respond/1.4.2/respond.min.js")" type="text/javascript"></script>
    <![endif]-->
    <link href="" rel="stylesheet" type="text/css" />

   
    <!-- FavIcon -->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("./favicon/favicon.ico")">
</head>

<body>
	
	<!-- AnuglarJS Views will be injected in the main-container -->  
    <div ui-view> </div>
	


	<!-- Javascript Libraries -->
	<script src="@routes.Assets.at("vendor/jquery-1.7.2.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/angular/angular.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/angular-ui-router/release/angular-ui-router.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/angular-sanitize/angular-sanitize.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/angular-resource/angular-resource.js")" type="text/javascript"></script>
	<!-- <script src="@routes.Assets.at("vendor/angular-messages/angular-messages.js")" type="text/javascript"></script> -->
	
	<!-- New UI Scripts Starts -->
	<script src="@routes.Assets.at("vendor/excanvas.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/chart.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/full-calendar/fullcalendar.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("vendor/base.js")" type="text/javascript"></script>
	<!-- <script src="@routes.Assets.at("vendor/calendar.js")" type="text/javascript"></script> -->
	<script src="@routes.Assets.at("vendor/signin.js")" type="text/javascript"></script>
	<!-- New UI Scripts Ends -->
	

    
    <!-- mainApp js files -->
    <script src="@routes.Assets.at("app/main/app.js")" type="text/javascript"></script>
 	<script src="@routes.Assets.at("app/lib/ng-table.js")" type="text/javascript"></script>
 	<script src="@routes.Assets.at("app/login/loginCtrl.js")" type="text/javascript"></script>
 	<script src="@routes.Assets.at("app/login/loginService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("app/homepage/homepageCtrl.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("app/homepage/homepageService.js")" type="text/javascript"></script>    
	<script src="@routes.Assets.at("app/common/commonServices.js")" type="text/javascript"></script>    
	
       
</body>
</html>